name: build

on:
    push:
        branches:
            - 'main'

permissions:
  contents: write

env:
    CARGO_TERM_COLOR: always

jobs:
    actions-checkout:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
    
    actions-cache:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/cache@v3
              with:
                path: |
                    ~/.cargo/bin/
                    ~/.cargo/registry/index/
                    ~/.cargo/registry/cache/
                    ~/.cargo/git/db/
                    target/
                key: ${{ github.ref || github.run_id }}
    
    #
    # Copy files and assets to out folder.
    #

    echo-wd:
        needs: actions-checkout
        runs-on: ubuntu-latest
        steps:
            - run: echo $(pwd)
            - run: ls -la
    
    copy-assets:
        needs: actions-checkout
        runs-on: ubuntu-latest
        steps:
            - run: cp -R assets out/
    
    copy-index:
        needs: actions-checkout
        runs-on: ubuntu-latest
        steps:
            - run: cp www/index.html out/index.html
    
    copy-favicon:
        needs: actions-checkout
        runs-on: ubuntu-latest
        steps:
            - run: cp www/favicon.ico out/favicon.ico
    
    #
    # Install tools.
    #
    
    update-linux:
        runs-on: ubuntu-latest
        steps:
            - run: sudo apt-get update
    
    dtolnay-rust-toolchain:
        runs-on: ubuntu-latest
        steps:
            - uses: dtolnay/rust-toolchain@stable
    
    jetli-wasm-bindgen-action:
        runs-on: ubuntu-latest
        steps:
            - uses: jetli/wasm-bindgen-action@v0.2.0
              with:
                version: 'latest'
    
    install-wabt:
        needs: update-linux
        runs-on: ubuntu-latest
        steps:
            - run: sudo apt-get install wabt
    
    install-binaryen:
        needs: update-linux
        runs-on: ubuntu-latest
        steps:
            - run: sudo apt-get install binaryen

    install-wasm-target:
        needs: dtolnay-rust-toolchain
        runs-on: ubuntu-latest
        steps:
            - run: rustup target install wasm32-unknown-unknown
    
    #
    # Build chain.
    #
    
    build:
        needs: [actions-checkout, install-wasm-target]
        runs-on: ubuntu-latest
        steps:
            - run: cargo build --release --target wasm32-unknown-unknown
    
    wasm-bindgen:
        needs: [jetli-wasm-bindgen-action, build]
        runs-on: ubuntu-latest
        steps:
            - run: wasm-bindgen --no-typescript --out-dir ./out/ --target web ./target/wasm32-unknown-unknown/release/tabletop.wasm --out-name "tabletop"
    
    wasm-strip:
        needs: [install-wabt, wasm-bindgen]
        runs-on: ubuntu-latest
        steps:
            - run: wasm-strip ./out/tabletop_bg.wasm
    
    # wasm-opt:
        # needs: [install-binaryen, wasm-strip]
        # runs-on: ubuntu-latest
        # steps:
            # run: wasm-opt -Oz --enable-bulk-memory --enable-nontrapping-float-to-int --enable-reference-types --enable-sign-ext -o ./out/tabletop_bg.wasm ./out/tabletop_bg.wasm
    
    # gzip:
        # needs: wasm-opt
        # runs-on: ubuntu-latest
        # steps:
            # run: gzip -f ./out/tabletop_bg.wasm
    
    push:
        needs: wasm-strip
        runs-on: ubuntu-latest
        steps:
            - uses: s0/git-publish-subdir-action@develop
              env:
                SQUASH_HISTORY: true
                REPO: self
                BRANCH: gh-pages
                FOLDER: out
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                MESSAGE: "Build: ({sha}) {msg}"
    
    setup-pages:
        needs: push
        runs-on: ubuntu-latest
        steps:
            - uses: actions/configure-pages@v5
    
    upload-artifact:
        needs: setup-pages
        runs-on: ubuntu-latest
        steps:
            - uses: actions/upload-pages-artifact@v4
              with:
                path: "./out"

    deploy:
        needs: upload-artifact
        runs-on: ubuntu-latest

        permissions:
          pages: write
          id-token: write
        environment:
          name: github-pages
          url: ${{ steps.deployment.outputs.page_url }}

        steps:
          - name: Deploy to GitHub Pages
            id: deployment
            uses: actions/deploy-pages@v4
